/* Navigation section */

#navbar{
    flex-direction: column;

}
#navbar  ul li a{
    font-size: 1rem;
  
    padding: 0px 14px;
    padding-bottom: 1px;
}
#home{
    padding: 0px 61px;
    height: 417px;
}
#home::before{
    height: 500px;
}
#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;
}
.services-container{
    margin-top: -71px;
}
#services .box{
    padding: 5px;
    margin: 6px 0px;
}
#services .box img{
    width: 150px;
        /* height: 200px; */
    
      height: auto;
    /* height: 0px; */
}
#clients{
    overflow: hidden;
}
.client-items{
    padding: 20px;
}
#clients img{
    width: 29px;
    padding: 7px 9px;
    height: auto;
}

/* Utility */
.h1-primary{
    font-size: 26px;
}